@font-face {
    font-family: 'Avenir Next';
    src: url("../../fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../../fonts/AvenirNextLTPro-Bold.woff") format("woff");
    font-weight: 700;
}
@font-face {
    font-family: 'Avenir Next';
    src: url("../../fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../../fonts/AvenirNextLTPro-Demi.woff") format("woff");
    font-weight: 600;
}
@font-face {
    font-family: 'Avenir Next';
    src: url("../../fonts/AvenirNextLTPro-Medium.woff2") format("woff2"), url("../../fonts/AvenirNextLTPro-Medium.woff") format("woff");
    font-weight: 500;
}
@font-face {
    font-family: 'Avenir Next';
    src: url("../../fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../../fonts/AvenirNextLTPro-Regular.woff") format("woff");
    font-weight: 400;
}
[x-cloak] {
    display: none;
}
html,body{
    font-family: 'Avenir Next'; 
    font-weight: 400;
    color: #1A2258;
    scroll-behavior: smooth;
}

h3,h4,h5,h6{
    font-weight: 600;
}
strong{ 
    font-weight: 700;
}

.bsf-rt-reading-time {
    display: inline-flex;
    flex-direction: row;
    gap: 4px;
}
span.bsf-rt-display-label{
    order: 3; 
}
